RewriteEngine On
RewriteBase /sf_rheldev/chibi-php-github/web/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]

#From ToroPHP readme
#RewriteEngine on
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond $1 !^(index\.php)
#RewriteRule ^(.*)$ /index.php/$1 [L]